dist/
node_modules/
web/style
sftp-config.json
log
npm-debug.log
.vscode
coverage
lerna-debug.log
.DS_Store
.wepycache
.idea/
private.key
unarchive/
src/config/i18n/lang/*.txt
wepy.config.js
project.config.json
